.ring-container {
    position: relative;
    width: 40px; /* Adjust to accommodate the size of the ring */
    height: 40px;
}

.circle {
    width: 15px;
    height: 15px;
    background-color: #62bd19; /* Default color, will be overridden by props */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ringring {
    border-width: 3px;
    border-style: solid;
    border-color: #62bd19; /* Default color, will be overridden by props */
    border-radius: 50%;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: pulsate 1s ease-out infinite;
    opacity: 0.0;
}

@keyframes pulsate {
    0% {
        transform: translate(-50%, -50%) scale(0.1, 0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        transform: translate(-50%, -50%) scale(1.2, 1.2);
        opacity: 0.0;
    }
}
